* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: large;
}

html { overflow-x: hidden; }

canvas {
  width: 98%;
  margin-left: 1%;
}

button {
  width: 48.5%;
  height: 100px;
  margin-left: 1%;
  margin-right: 0;
  margin-top: 10px;
}

/* #buy {
    background-color: green;
}

#sell {
    background-color: red;
} */

.container {
  text-align: center;
  width: 100%;
  position: relative;
}

.inside {
  margin: 0 auto;
}